.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.add {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: green;
    box-shadow: 0 2px 2px #888888;
    border: 1px solid green;
    color: white;
    font-weight: bold;

}

.remove {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* background:gray; */
    /* box-shadow: 0 2px 2px #888888; */
    /* border: 1px solid gray;  */

}

.delete {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    box-shadow: 0 2px 2px #888888;
    border: 1px solid red;
    color: white;
    font-weight: bold;

}


.greenSelect{
    background-color: rgb(149 231 170);
    border-radius: 8px;
    color: white;
    width: 100%;
    border: 1px solid rgb(149 231 170);
    height: 40px;
}

option{
 color: black;   
}

option:hover{
    background-color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}